.right {
  float: right;
  width: 240px;
  padding: 10px;
}
.container {
  float: right;
  width: 260px;
  border: 5px solid #000;
  padding-left: 10px;
}

#super-container{
  float: right;
  width: 270px;
  /* border: 5px solid #f00; */
}
#score-container{
  display: none;
}
